{% extends 'base.html' %}

{% load i18n %}

{% block bootstrap5_title %}
{{ title }}
{% endblock %}

{% block bootstrap5_content %}
<div>
    <h1>{{ title }}</h1>
    <a href="{% url 'status_create' %}">
        <button type="button" class="btn btn-primary">{{ create }}</button>
    </a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">{% trans 'Name' %}</th>
                <th scope="col">{% trans 'Creation date' %}</th>
                <th scope="col">{% trans 'Last update' %}</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for status in statuses %}
            <tr>
                <td>{{ status.id }}</td>
                <td>{{ status.name }}</td>
                <td>{{ status.created_at|date:"d.m.Y H:i" }}</td>
                <td>{{ status.updated_at|date:"d.m.Y H:i" }}</td>
                <td>
                    <a href="{% url 'status_update' status.id %}">{% trans 'Edit' %}</a>
                    <br>
                    <a href="{% url 'status_delete' status.id %}">{% trans 'Delete' %}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}