{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="jumbotron p-5 mb-5 bg-light rounded-3">
            <h1 class="display-4 fw-normal text-center mb-4">{% trans "Добро пожаловать!" %}</h1>
            <p class="lead text-center">
                {% trans "Это менеджер задач. Здесь вы можете управлять своими задачами, пользователями и статусами." %}
            </p>
            <div class="d-flex justify-content-center gap-3 flex-wrap">
                <a href="#" class="btn btn-primary btn-lg">{% trans "Начать работу" %}</a>
                <a href="#" class="btn btn-outline-secondary btn-lg">{% trans "Подробнее" %}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
