{% extends "base_template/index.html" %}
{% load i18n %}
 {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
{% block content %}
<h1 class="my-4">{{ title|default:'Delete user'}}</h1>
{{ question|default:'{% trans "Are you sure you want to delete the user?" %} |add:name.first_name|add: |add:name.last_name|add: ?' }}
 <form action="{{url}}" method="post">
    {% csrf_token %}
    <input class="btn btn-danger py-2" type="submit" value={% trans "Delete" %}>
</form>
{% endblock %}