{% extends 'tasks/base.html' %}
{% load i18n %}

{% block content %}
<h1 class="my-4">{% translate "Метки" %}</h1>

<a href="{% url 'label_create' %}" class="btn btn-primary mb-3">{% translate "Создать метку" %}</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>{% translate "Имя" %}</th>
            <th>{% translate "Дата создания" %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for label in labels %}
        <tr>
            <td>{{ label.id }}</td>
            <td>{{ label.name }}</td>
            <td>{{ label.created_at|date:"d.m.Y H:i" }}</td>
            <td>
                <a href="{% url 'label_update' label.id %}">{% translate "Изменить" %}</a>
                <br>
                <a href="{% url 'label_delete' label.id %}">{% translate "Удалить" %}</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">{% translate "Метки не найдены" %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}