{% extends 'tasks/base.html' %}
{% load i18n django_bootstrap5 %}

{% block content %}
<h1 class="my-4">{% translate "Задачи" %}</h1>

<a href="{% url 'task_create' %}" class="btn btn-primary mb-3">{% translate "Создать задачу" %}</a>

<div class="card mb-3">
    <div class="card-body bg-light">
        <form method="get">
            {% bootstrap_form form layout='vertical' %}
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">{% translate "Показать" %}</button>
            </div>
        </form>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>{% translate "Имя" %}</th>
            <th>{% translate "Статус" %}</th>
            <th>{% translate "Автор" %}</th>
            <th>{% translate "Исполнитель" %}</th>
            <th>{% translate "Дата создания" %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{ task.id }}</td>
            <td><a href="{% url 'task_detail' task.id %}">{{ task.name }}</a></td>
            <td>{{ task.status }}</td>
            <td>{{ task.created_by }}</td>
            <td>{{ task.executor }}</td>
            <td>{{ task.created_at|date:"d.m.Y H:i" }}</td>
            <td>
                <a href="{% url 'task_update' task.id %}">{% translate "Изменить" %}</a>
                <br>
                <a href="{% url 'task_delete' task.id %}">{% translate "Удалить" %}</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="7">{% translate "Задачи не найдены" %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}