{% extends 'tasks/base.html' %}
{% load i18n %}

{% block content %}
<h1 class="my-4">{% translate "Пользователи" %}</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>{% translate "Имя пользователя" %}</th>
            <th>{% translate "Полное имя" %}</th>
            <th>{% translate "Дата создания" %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.get_full_name }}</td>
            <td>{{ user.date_joined|date:"d.m.Y H:i" }}</td>
            <td>
                <a href="{% url 'user_update' user.id %}">{% translate "Изменить" %}</a>
                <br>
                <a href="{% url 'user_delete' user.id %}">{% translate "Удалить" %}</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">{% translate "Пользователи не найдены" %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}