{% load django_bootstrap5 %}  
{% load static %}
<!DOCTYPE html>
<html lang="ru-ru">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Менеджер задач Hexlet</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}      
  </head>
  <body class="d-flex flex-column min-vh-100">
{% include 'top_menu.html'  %}
    <div class="container wrapper flex-grow-1">
{% if messages %}
  {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}

{% block main %}
{% endblock %}
    </div>
    <footer>
      <div class="container my-5 pt-4 border-top">
        <a target="_blank" href="https://ru.hexlet.io">Hexlet</a>
      </div>
    </footer>
  </body>
</html>

