{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-8 col-lg-6">
        <div class="card shadow-lg border-0 rounded-lg">
            <div class="card-header bg-danger bg-gradient text-white">
                <h3 class="text-center my-2">{{ text }}</h3>
            </div>
            <div class="card-body p-4">
                <form action="{{ form_action }}" method="post">
                    {% csrf_token %}
                    <div class="alert alert-warning" role="alert">
                        {{ delete_warning }}
                    </div>
                    <div class="d-grid gap-2 mt-4">
                        <input class="btn btn-danger btn-lg" type="submit" value="{% trans 'Yes, delete' %}">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}