{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="card shadow">
    <div class="card-body">
        <h1 class="card-title display-4">{% trans "Welcome to Task Manager!" %}</h1>
        <p class="card-text lead">
            {% trans "Your environment has been successfully deployed on Render.com" %}
        </p>
        <hr>
        <div class="mt-4">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">{% trans "Task Management" %}</h5>
                            <p class="card-text">
                                {% trans "Create, assign and track tasks efficiently" %}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">{% trans "User Collaboration" %}</h5>
                            <p class="card-text">
                                {% trans "Work together with your team members" %}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">{% trans "Progress Tracking" %}</h5>
                            <p class="card-text">
                                {% trans "Monitor task status and deadlines" %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-5 text-center">
            <a href="{% url 'tasks_list' %}" class="btn btn-primary btn-lg px-4 me-3">{% trans "Get Started" %}</a>
            <a href="https://ru.hexlet.io/programs/python/projects/52" class="btn btn-outline-secondary btn-lg px-4">{% trans "Learn More" %}</a>
        </div>
    </div>
</div>
{% endblock %}