{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h1 class="my-4">Задачи</h1>
<a href="{% url 'tasks:create' %}" class="btn btn-primary mb-3">Создать задачу</a>
<div class="card mb-3">
  <div class="card-body bg-light">
    <form method="get">
      {{ filter.form|crispy }}
      <button type="submit" class="btn btn-primary mt-3">Показать</button>
    </form>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Имя</th>
      <th>Статус</th>
      <th>Автор</th>
      <th>Исполнитель</th>
      <th>Дата создания</th>
    </tr>
  </thead>
  <tbody>
    {% for task in filter.qs %}
    <tr>
      <td>{{ task.id }}</td>
      <td><a href="{% url 'tasks:detail' task.id %}">{{ task.name }}</a></td>
      <td>{{ task.status }}</td>
      <td>{{ task.author }}</td>
      <td>{{ status.executor }}</td>
      <td>{{ task.created_at }}</td>
      <td>
        <a href="{% url 'tasks:update' task.id %}" class="text-primary me-2">Изменить</a>
        <a href="{% url 'tasks:delete' task.id %}" class="text-danger">Удалить</a>
      </td>
    </tr>
    {% empty %}
      <tr>
        <td colspan="7" class="text-center">Подходящих задач не найдено.</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}