{% extends 'base.html' %}
{% block main %}
<div class="container wrapper flex-grow-1">
<h1 class="my-4">Вход</h1>
{% if form.errors %}
<ul class="list-unstyled text-danger">
   <li>Пожалуйста, введите правильные имя пользователя и пароль. Оба поля могут быть чувствительны к регистру.</li>
</ul>
{% endif %}

<form action="{% url 'login' %}" method="post">

    {% csrf_token %}
    
    <div class="mb-3">
        <label class="form-label" for="id_username">Имя пользователя</label>
        <input 
            type="text" 
            name="username" 
            autofocus autocapitalize="none" 
            autocomplete="username" 
            maxlength="150" 
            class="form-control" 
            placeholder="Имя пользователя" 
            required id="id_username"
        >
    </div>
  
    <div class="mb-3">
        <label class="form-label" for="id_password">Пароль</label>
        <input 
            type="password" 
            name="password" 
            autocomplete="current-password" 
            class="form-control" 
            placeholder="Пароль" 
            required id="id_password"
        >
    </div>
    <input type="hidden" name="next" value="/" />    
    <input class="btn btn-primary" type="submit" value="Войти">
  </form>
{% endblock %}
